:root {
    --height-header: clamp(20px, 10vh, 55px);
    --image-size: clamp(200px, 25vw, 800px);
    --tittle-font-size: clamp(40px, 8vw, 80px);
    --subttitle-font-size: clamp(15px, 3vw, 30px);
    --font-size: clamp(10px, 2vw, 20px);
    --margin-small: clamp(25px, 4vw, 50px);
    --bg-color: #011804;
    --first-color: #4a754f;
    --second-color: #057012;
    --font-color: #D6FECC;
    --tittle-color: #7aa308;
    --subtittle-color: #a35808;
}

@view-transition {
    navigation: auto;
}

/* ::view-transition-old(root) {
    animation: .7s linear;
}

::view-transition-new(root) {
    animation: .7s linear;
} */

html,
body {
    background: var(--bg-color);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: none;
}

* {
    box-sizing: border-box;
}

.custom-cursor {
    /* background-color: #782e00; */
    padding: 0px;
    margin: 0;
    border-radius: 100%;
    border: 3px solid #20a411;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: padding .2s, filter .2s;
}

.custom-cursor .cursor__dot {
    background-color: #8ddc33;
    padding: 5px;
    border-radius: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: none;
}

body:has(a:hover, .container__image__alex:hover, #close-dialog:hover) .custom-cursor {
    transform: translate(-50%, -50%);
    padding: 10px;
    filter: hue-rotate(180deg);
}

#canvas {
    width: min(100dvh, 100dvw);
    aspect-ratio: 1/1;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 3px solid yellow; */
    background: var(--bg-color);
}

.header {
    width: 100%;
    height: fit-content;
    backdrop-filter: hue-rotate(180deg) blur(1px);
    box-shadow: 0px 5px 15px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0%;
}

.header__tittle,
.header__tittle a {
    font-size: var(--tittle-font-size);
    color: var(--tittle-color);
    margin: 0;
    filter: saturate(1);
    transition: filter .5s, letter-spacing .5s;

    &:hover {
        filter: saturate(2);
        letter-spacing: 4px;
    }
}

.navbar__directorys {
    margin-left: var(--margin-small);
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    backdrop-filter: blur(3px) contrast(0.8);
}

.directorys__list {
    /* margin-left: 10px; */
    padding: 10px;
    display: grid;
    gap: 30px;
}

.directorys__list__directory {
    list-style: none;
}

.directory__link {
    text-decoration: none;
    font-size: var(--subttitle-font-size);
    color: var(--subtittle-color);
    transition: font-size .3s;

    &:hover {
        font-size: calc(var(--subttitle-font-size)*1.2);
    }
}

.container__image {
    width: var(--image-size);
    height: var(--image-size);
    position: fixed;
    right: 0;
    bottom: 50%;
    transform: translate(0%, 50%);
    margin-right: var(--margin-small);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
    overflow: hidden;
    border-radius: 30px;
    /* background-color: #057012; */
}

.container__image__alex {
    width: 80%;
    height: 600px;
    object-fit: cover;
    object-position: center top;
    aspect-ratio: 0.59008;
    border-radius: 30px;
    transition: width .3s, scale .3s;

    &:hover {
        width: 100%;
        scale: 1.1;
    }
}

#preview-image {
    width: 70%;
    height: 70%;
    padding: 10px;
    border: none;
    border-radius: 30px;
    overflow: hidden;
    background: var(--first-color);
    /* transform: scale(0); */
    height: 0;
    transition: height .3s;

    &::backdrop {
        background: rgba(1, 24, 4, 0.35);
        backdrop-filter: blur(8px);
    }

    &:focus {
        outline: none;
    }
}

.dialog__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 30px;
    display: block;
    /* user-select: none; */
}

#close-dialog {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 20px;
    border: none;
    background: #ba1212;
    border-radius: 100%;
    cursor: none;
    transition: scale .4s;

    &:hover {
        scale: 1.5;
    }

    &:focus {
        outline: none;
    }
}