:root {
    --height-header: clamp(20px, 10vh, 55px);
    --image-size: clamp(200px, 25vw, 800px);
    --tittle-font-size: clamp(40px, 8vw, 80px);
    --subttitle-font-size: clamp(15px, 3vw, 30px);
    --font-size: clamp(10px, 2vw, 20px);
    --margin-small: clamp(25px, 4vw, 50px);
    --bg-color: #011804;
    --first-color: #079C19;
    --second-color: #057012;
    --font-color: #D6FECC;
    --tittle-color: #a35808;
    --subtittle-color: #a35808;
}

html,
body {
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#custom-cursor {
    /* background-color: #782e00; */
    padding: 0px;
    margin: 0;
    border-radius: 100%;
    border: 3px solid #20a411;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: padding .2s, filter .2s;
}

#cursor__dot {
    background-color: #8ddc33;
    padding: 5px;
    border-radius: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: none;
}

body:has(a:hover) #custom-cursor {
    transform: translate(-50%, -50%);
    padding: 10px;
    filter: hue-rotate(180deg);
}

/* body:has(a:hover) #cursor__dot {} */

#canvas {
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
}

.header {
    width: 100%;
    height: fit-content;
    background-color: var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0%;
}

.header__tittle,
.header__tittle a {
    font-size: var(--tittle-font-size);
    color: var(--tittle-color);
    margin: 0;
}

.navbar__directorys {
    margin-left: var(--margin-small);
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.directorys__list {
    margin-left: 10px;
    padding: 0;
    display: grid;
    gap: 15px;
}

.directorys__list__directory {
    list-style: none;
}

.directory__link {
    text-decoration: none;
    font-size: var(--subttitle-font-size);
    color: var(--subtittle-color);
}

.container__image {
    width: fit-content;
    height: var(--image-size);
    position: fixed;
    right: 0;
    bottom: 50%;
    transform: translate(0%, 50%);
    margin-right: var(--margin-small);
    display: flex;
    gap: 10px;
    /* background-color: #057012; */
}

.container__image__alex {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    aspect-ratio: 0.59008;
    border-radius: 30px;
}